{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Tenant Details:</h2>
    <br>
    <p><strong>Tenant domain:</strong> {{ tenant.domain }}</p>
    <p><strong>Tenant ID:</strong> {{ tenant.tenant_id }}</p>
    <br>


    <h3>Organizations under this Tenant:</h3>
    <p>(click to choose organization)</p>
     {% if organizations %}
        <ul class="list-group mt-3">
            {% for organization in organizations %}
                <li class="list-group-item organization-item d-flex justify-content-between align-items-center">
                    <a href="{% url 'organization_detail' organization.id %}" class="text-decoration-none text-dark flex-grow-1">
                        {{ organization.name }}
                    </a>
                    <div class="btn-group" role="group">
                        <a href="{% url 'edit_organization' organization.id %}" class="btn btn-sm btn-warning">Edit</a>
                        <a href="{% url 'delete_organization' organization.id %}" class="btn btn-sm btn-danger">Delete</a>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No organizations found for this tenant.</p>
    {% endif %}

    <br>
    <div class="mt-3">
        <a href="{% url 'add_organization' tenant.tenant_id %}" class="btn btn-primary mt-3">Add Organization</a>
        <a href="/api/tenants/" class="btn btn-secondary mt-3">Back to Tenants</a>
    </div>

</div>

<style>
    .organization-item {
        cursor: pointer;
    }

    .organization-item:hover {
        background-color: #f2f7f4; /* Light gray background */
    }

    .organization-item a {
        display: block;
        width: 100%; /* Link width 100% of element */
    }
</style>
{% endblock %}