{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2>Tenants</h2>
    <p>(click to choose one)</p>
    <br>
    <ul class="list-group">
        {% for tenant in tenants %}
            <li class="list-group-item">
                <a href="{% url 'tenant_detail' tenant.tenant_id %}">{{ tenant.domain }}</a>
                <p>Tenant ID: {{ tenant.tenant_id }}</p>
            </li>
        {% empty %}
            <p>No tenants found.</p>
        {% endfor %}
    </ul>
    <div class="mt-3">
        <a href="/api/tenants/add/" class="btn btn-primary">Add New Tenant</a>
        <a href="/" class="btn btn-secondary">Back to main page</a>
    </div>
</div>

<style>
    .list-group-item:hover {
        background-color: #f2f7f4; /* Lightgray background */
        cursor: pointer;
    }
     .list-group-item a {
        display: block;
        width: 100%; /* Link width 100% of element */
    }
</style>
{% endblock %}